body {
    
}
.logo-container {
    display: flex;
    justify-content: space-evenly;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}
.links {
    display: flex;
    align-items: center;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.image {
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}